<div class="fixed-top">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/" class="navbar-brand">
            <img src="/assets/logo.png"/>
          </a>
        </div>
        <div class="col-md-6">
          <input 
            type="text" 
            #termoPesquisa
            (keyup)="pesquisa(termoPesquisa.value)"
            class="form-control pesquisa-input" 
            placeholder="Pesquise por ofertas...">
          <div class="list-group pesquisa">
            <button type="button" *ngFor="let oferta of observablePesquisa | async" [routerLink]="['/oferta', oferta.id]" (click)="limpaPesquisa()" class="list-group-item list-group-item-action">{{ oferta.descricao_oferta | descricao:40 }}</button>
          </div>
        </div>
        <!-- <div class="col-md-2 cart">
          <div class="d-flex justify-content-end">
            <a a routerLink="/"><img src="/assets/carrinho.png" /></a>
          </div>
        </div> -->
      </div>
    </div>
  </nav>
  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item" *ngFor="let nav of navs; let i = index">
          <a class="nav-link" routerLinkActive="active" [routerLink]="nav.route">{{ nav.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>