form div.form-row{
  background: #FAFAFA;
  padding: 20px;
  border-bottom: solid 1px #F0F0F0
}

select.ng-invalid.ng-touched, input.ng-invalid.ng-touched {
  border: solid 1px red;
}

select.ng-valid.ng-touched, input.ng-valid.ng-touched {
  border: solid 1px green;
}