<div class="row">
  <div class="col">
    <h6>{{ title }}</h6>
    <p>{{ frases[0].fraseEng }}</p>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="answer" id="translatedText" aria-describedby="textHelp" placeholder="Traduza a frase...">
      <small id="textHelp" class="form-text text-muted">Tenha calma e não gaste suas chances.</small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="d-flex justify-content-end">
      <button [disabled]="!answer" class="btn btn-outline-primary">Comparar</button>
    </div>
  </div>
</div>